body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  text-align: center;
  padding: 10px;
  background-color: green;
}
