body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  text-align: center;
  padding: 10px;
  background-color: green;
}

figcaption {
  text-align: center;
  font-size: 10px;
}

p {
  text-align: center;
  width: 800px;
}

#details {
  display: block;
  
}

#details ~ div {
  float: left;
}

